body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d2d2d2;
}
.stopwatch-container>h1{
    font-size: 3em;
    color: #810000;
}
.stopwatch-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#display {
    font-size: 4em;
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttons button {
    font-size: 2em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startBtn {
    background-color: #4CAF50;
    color: white;
}

#stopBtn {
    background-color: #f44336;
    color: white;
}

#resetBtn {
    background-color: #2196F3;
    color: white;
}


